<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RavenHQ" 
         connectionString="" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <enyim.com xdt:Transform="Replace">
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="" port="" />
      </servers>
      <socketPool minPoolSize="1" maxPoolSize="5" />
      <locator type="Enyim.Caching.Memcached.DefaultNodeLocator, Enyim.Caching" />
      <keyTransformer type="Enyim.Caching.Memcached.Base64KeyTransformer, Enyim.Caching" />
      <authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching" zone="" userName="" password="" />
    </memcached>
  </enyim.com>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>